In [5]:
import pandas as pd 
import numpy as np
import xarray as xr
import matplotlib.pyplot as plt
import torch
import math

import torch.nn.functional as F

In [15]:
'''
    Relevant data for our model:
    
    ss_id : id number of the PV system. these are the keys in the netcdf file
    latitude_rounded : latitude of the PV system (I think degrees)
    longitude_rounded : longitude of the PV system (I think degrees)
    orientation : cardinal orientation of PV panels ? TODO: confirm
    tilt : tilt angle of the PV panels
'''
pv_metadata = pd.read_csv("../data/metadata.csv")
pv_metadata.head()     # Prints first 5 rows of metadata

,ss_id,latitude_rounded,longitude_rounded,llsoacd,orientation,tilt,kwp,operational_at
24657,27063,51.41,-2.49,E01014398,185.0,35.0,4.0,2018-04-18
24658,27064,51.47,-0.59,E01016588,180.0,45.0,2.0,2018-04-18
24659,27065,51.36,-2.93,E01014817,125.0,37.0,4.0,2018-04-18
24660,27066,51.44,-2.85,E01014759,165.0,35.0,4.0,2018-04-18
24661,27067,53.52,-2.48,E01006291,117.0,33.0,2.0,2018-04-18

In [13]:
fn = '../data/pv.netcdf'
#ncf = nc.Dataset(fn)   # Using xarray to open files instead of netcdf for pipeline simplicity
ncf = xr.open_dataset(fn, engine="h5netcdf")

In [16]:
print(ncf.keys())

KeysView(<xarray.Dataset>
Dimensions:   (datetime: 387254)
Coordinates:
  * datetime  (datetime) datetime64[ns] 2018-01-01T06:05:00 ... 2021-10-27T23...
Data variables: (12/1311)
    10003     (datetime) float32 ...
    10004     (datetime) float32 ...
    10005     (datetime) float32 ...
    10048     (datetime) float32 ...
    10049     (datetime) float32 ...
    10063     (datetime) float32 ...
    ...        ...
    9870      (datetime) float32 ...
    9871      (datetime) float32 ...
    9902      (datetime) float32 ...
    9903      (datetime) float32 ...
    9960      (datetime) float32 ...
    9989      (datetime) float32 ...)

In [ ]:
'''

model input: 
- date + time from which to forecast next 24h
- latitutde/longitude
- orientation/tilt
- kwp

model output:
- 24 hour generation forecast in increments of 15 min (CAN BE CHANGED)

Current TODO:

- run lat/lon/date through a trigonometric transformation to reduce endpoint singularities (https://arxiv.org/pdf/2011.06125.pdf)
- load in satellite image data, run it through normalization

'''